In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
pwd

'C:\\Users\\Admin\\Desktop\\PW\\PredictivePacers\\ipynb'

In [3]:
df = pd.read_csv(r"C:\\Users\\Admin\\Desktop\\\PW\\PredictivePacers\\Processed Data\\proc_total_runsandwickets.csv")
df.drop('Wkts',axis = 1, inplace =True)
df

,Runs,Team 1_Australia,Team 1_India,Team 2_Australia,Team 2_India,Ground_Adelaide,Ground_Ahmedabad,Ground_Bengaluru,Ground_Brisbane,Ground_Canberra,...,Ground_Pune,Ground_Rajkot,Ground_Ranchi,Ground_Sharjah,Ground_Srinagar,Ground_Sydney,Ground_The Oval,Ground_Vadodara,Ground_Visakhapatnam,Ground_Wankhede
0,727,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,721,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,717,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,709,0,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,701,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,448,0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
96,446,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,445,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,433,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,431,0,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
Y = df['Runs']
Y

0     727
1     721
2     717
3     709
4     701
     ...
95    448
96    446
97    445
98    433
99    431
Name: Runs, Length: 100, dtype: int64

In [5]:
X = df.drop(columns=['Runs'])
X

,Team 1_Australia,Team 1_India,Team 2_Australia,Team 2_India,Ground_Adelaide,Ground_Ahmedabad,Ground_Bengaluru,Ground_Brisbane,Ground_Canberra,Ground_Chandigarh,...,Ground_Pune,Ground_Rajkot,Ground_Ranchi,Ground_Sharjah,Ground_Srinagar,Ground_Sydney,Ground_The Oval,Ground_Vadodara,Ground_Visakhapatnam,Ground_Wankhede
0,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
96,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [7]:
from xgboost import XGBRegressor
model = XGBRegressor()

In [8]:
model.fit(x_train, y_train)
x_test

,Team 1_Australia,Team 1_India,Team 2_Australia,Team 2_India,Ground_Adelaide,Ground_Ahmedabad,Ground_Bengaluru,Ground_Brisbane,Ground_Canberra,Ground_Chandigarh,...,Ground_Pune,Ground_Rajkot,Ground_Ranchi,Ground_Sharjah,Ground_Srinagar,Ground_Sydney,Ground_The Oval,Ground_Vadodara,Ground_Visakhapatnam,Ground_Wankhede
83,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
53,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,0,1,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
39,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,1,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
80,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
73,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
33,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
90,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
77,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
31,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
y_pred = model.predict(x_test)

In [10]:
y_pred

array([544.1104 , 539.1213 , 546.75507, 507.09558, 497.46735, 574.70996,
       539.1213 , 614.794  , 568.90234, 559.25305, 546.75507, 539.1213 ,
       667.5811 , 539.1213 , 492.40912, 546.75507, 559.25305, 557.83527,
       583.29016, 528.44135], dtype=float32)

In [11]:
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer

# cat_features = ["Winner", "Opposition", "Ground"]
# oh = OneHotEncoder()
# ct = ColumnTransformer([("oh", oh,cat_features)], remainder="passthrough")

# trans_x = ct.fit_transform(X)
# trans_x

In [12]:
X.columns

Index(['Team 1_Australia', 'Team 1_India', 'Team 2_Australia', 'Team 2_India',
       'Ground_Adelaide', 'Ground_Ahmedabad', 'Ground_Bengaluru',
       'Ground_Brisbane', 'Ground_Canberra', 'Ground_Chandigarh',
       'Ground_Chennai', 'Ground_Colombo (RPS)', 'Ground_Colombo (SSC)',
       'Ground_Delhi', 'Ground_Dhaka', 'Ground_Dunedin', 'Ground_Eden Gardens',
       'Ground_Gwalior', 'Ground_Hyderabad', 'Ground_Indore', 'Ground_Jaipur',
       'Ground_Johannesburg', 'Ground_Kanpur', 'Ground_Kochi', 'Ground_Margao',
       'Ground_Melbourne', 'Ground_Mohali', 'Ground_Nagpur',
       'Ground_Nairobi (Gym)', 'Ground_Nottingham', 'Ground_Perth',
       'Ground_Pune', 'Ground_Rajkot', 'Ground_Ranchi', 'Ground_Sharjah',
       'Ground_Srinagar', 'Ground_Sydney', 'Ground_The Oval',
       'Ground_Vadodara', 'Ground_Visakhapatnam', 'Ground_Wankhede'],
      dtype='object')

In [13]:
print("Total Runs: ", int(model.predict([[1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])))

Total Runs:  531